<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理界面</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/css/layui.css" rel="stylesheet">
  <style>
    .white-text {
      color: white;
    }
  </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header layui-bg-cyan">
    <div class="layui-logo layui-hide-xs layui-bg-green">
      <dd><a href="{{ url_for('admin.dashboard') }}" class="white-text layui-font-18">无人机物流管理系统</a></dd>
    </div>
    <ul class="layui-nav layui-layout-left layui-bg-cyan">
      <li class="layui-nav-item layui-hide-xs"><a href="{{ url_for('admin.dashboard') }}" class="white-text layui-font-16">主菜单</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;">
          <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
          {{ admin.name }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;" onclick="showMessage()">个人资料</a></dd>
            <script>
              function showMessage() {
                layui.use('layer', function(){
                  var layer = layui.layer;
                  layer.msg('你是管理员{{ admin.name }}，ID为{{ admin.admin_id }}', {icon: 6});
                });
              }
              </script>
          <dd><a href="javascript:;" onclick="openEditLayer()">修改信息/密码</a></dd>
          <dd><a href="{{ url_for('auth.logout') }}">登出</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="layui-side layui-bg-cyan">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_user') }}">用户列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">操作员管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_pilot')}}">操作员列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">无人机管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_drone')}}">无人机列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:">包裹管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_package')}}">包裹列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:">任务管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_task')}}">任务列表</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div id="content" style="padding: 16px;">
      <blockquote class="layui-elem-quote layui-text">
        欢迎使用无人机物流管理系统！
      </blockquote>
      <div class="layui-card layui-panel">
        <div class="layui-card-header">
          使用说明：
        </div>
        <div class="layui-card-body">
        用户管理模块：<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>充数内容<br>你还真滑到了底部呀
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    Designed by Taoyzh
  </div>
</div>

<script src="../static/layui.js"></script>
<script>
//JS
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element;
  var layer = layui.layer;
  var util = layui.util;
  var $ = layui.$;

  //头部事件
  util.event('lay-header-event', {
    menuLeft: function(othis){ // 左侧菜单事件
      layer.msg('展开左侧菜单的操作', {icon: 0});
    },
    menuRight: function(){  // 右侧菜单事件
      layer.open({
        type: 1,
        title: '更多',
        content: '<div style="padding: 15px;">未完待续......</div>',
        area: ['260px', '100%'],
        offset: 'rt', // 右上角
        anim: 'slideLeft', // 从右侧抽屉滑出
        shadeClose: true,
        scrollbar: false
      });
    }
  });
});
</script>
<script>
function openEditLayer() {
  layui.use('layer', function(){
    var layer = layui.layer;
    layer.open({
      type: 1,
      title: '修改信息/密码',
      area: ['500px', '400px'],
      content: `
        <div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
                          <form action="/admin/admin_modify" method="POST">
                            <div class="demo-reg-container">
                            <div class="layui-form-item">
                                <div class="layui-input-wrap">
                                  <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                  </div>
                                  <input type="text" name="login_credentials" value="" lay-verify="required" placeholder="登录凭证" autocomplete="off" class="layui-input" lay-affix="clear">
                                </div>
                              </div>
                              <div class="layui-form-item">
                                <div class="layui-input-wrap">
                                  <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-password"></i>
                                  </div>
                                  <input type="text" name="password" value="" lay-verify="required" placeholder="密   码" lay-reqtext="请填写密码" autocomplete="off" class="layui-input" id="reg-password" lay-affix="eye">
                                </div>
                              </div>
                              <div class="layui-form-item">
                                <div class="layui-input-wrap">
                                  <div class="layui-input-prefix">
                                    <i class="layui-icon layui-icon-username"></i>
                                  </div>
                                  <input type="text" name="name" value="" lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input" lay-affix="clear">
                                </div>
                              </div>
                              <div class="layui-form-item">
                                <button class="layui-btn layui-btn-fluid" type="submit">确定</button>
                              </div>
                            </div>
                          </form>
                        </div>
      `
    });
    form.on('submit(demo-reg)', function(data) {
                      // 获取表单数据
                      var formData = data.field;
                      return false; // 阻止默认表单跳转行为
                    });
  });
}
</script>
</body>
</html>