<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>管理界面</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/css/layui.css" rel="stylesheet">
</head>
<body>
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo layui-hide-xs layui-bg-green">管理员界面</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;">
          <img src="//unpkg.com/outeres@0.0.10/img/layui/icon-v2.png" class="layui-nav-img">
          {{ admin.name }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="javascript:;">Your Profile</a></dd>
          <dd><a href="javascript:;">Settings</a></dd>
          <dd><a href="{{ url_for('auth.logout') }}">Sign out</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
        <a href="javascript:;">
          <i class="layui-icon layui-icon-more-vertical"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_user') }}">用户列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">操作员管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_drone')}}">操作员列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">无人机管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{{ url_for('admin.manage_drone')}}">无人机列表</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  <div class="layui-body">
    <div style="padding: 16px;">
      <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbarDemo">
      <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getData">获取当前页数据</button>
        <button class="layui-btn layui-btn-sm" id="dropdownButton">
          下拉按钮
          <i class="layui-icon layui-icon-down layui-font-12"></i>
        </button>
      </div>
    </script>
    <script type="text/html" id="toolDemo">
      <div class="layui-clear-space">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs" lay-event="more">
          更多
          <i class="layui-icon layui-icon-down"></i>
        </a>
      </div>
    </script>
    <script src="../static/layui.js"></script>
<!--    <script src="../static/fetch_users.js"></script>-->
    <script>
      layui.use(['table', 'dropdown', 'layer'], function(){
        var table = layui.table;
        var dropdown = layui.dropdown;
        var layer = layui.layer;

        table.render({
          elem: '#test',
          url: '/admin/api/drones',
          toolbar: '#toolbarDemo',
          defaultToolbar: ['filter', 'exports', 'print', {
            title: '提示',
            layEvent: 'LAYTABLE_TIPS',
            icon: 'layui-icon-tips',
            onClick: function(obj) {
                layer.alert('自定义工具栏图标按钮');
            }
          }],
          parseData: function(res){
            return {
              "code": res.status,
              "msg": res.message,
              "count": res.total,
              "data": res.data.item
            };
          },
          height: 'full-35',
          cellMinWidth: 240,
          totalRow: true,
          cols: [[
            {type: 'checkbox', fixed: 'left'},
            {field: 'id', fixed: 'left', width: 80, title: 'ID', sort: true, totalRow: '合计：'},
            {field: 'username', title:'用户名 <i class="layui-icon layui-icon-tips layui-font-14" lay-event="username-tips" title="该字段开启了编辑功能" style="margin-left: 5px;"></i>', fieldTitle: '用户名', hide: 0, width:150, expandedMode: 'tips', edit: 'text'},
            {field: 'contact_info', title:'联系方式 <i class="layui-icon layui-icon-tips layui-font-14" lay-event="contact-tips" title="该字段开启了编辑功能" style="margin-left: 5px;"></i>', fieldTitle: '联系方式', hide: 0, width:150, expandedMode: 'tips', edit: 'text'},
            {fixed: 'right', title:'操作', width: 134, minWidth: 125, templet: '#toolDemo'}
            // 其他字段
          ]],
          page: true,
          done: function(){
            var id = this.id;
            dropdown.render({
              elem: '#dropdownButton',
              data: [
                { id: 'add', title: '添加' },
                { id: 'update', title: '编辑' },
                { id: 'delete', title: '删除' }
              ],
              click: function(obj){
                var checkStatus = table.checkStatus(id);
                var data = checkStatus.data;
                switch(obj.id){
                  case 'add':
                    layer.open({
                      title: '添加',
                      type: 1,
                      area: ['80%','80%'],
                      content: '<div style="padding: 16px;">自定义表单元素</div>'
                    });
                    break;
                  case 'update':
                    if(data.length !== 1) return layer.msg('请选择一行');
                    layer.open({
                      title: '编辑',
                      type: 1,
                      area: ['80%','80%'],
                      content: '<div style="padding: 16px;">自定义表单元素</div>'
                    });
                    break;
                  case 'delete':
                    if(data.length === 0){
                      return layer.msg('请选择一行');
                    }
                    layer.msg('delete event');
                    break;
                }
              }
            });
        table.on('toolbar(test)', function(obj){
          var id = obj.config.id;
          var checkStatus = table.checkStatus(id);
          var othis = lay(this);
          switch(obj.event){
            case 'getCheckData':
              var data = checkStatus.data;
              layer.alert(layui.util.escape(JSON.stringify(data)));
              break;
            case 'getData':
              var getData = table.getData(id);
              console.log(getData);
              layer.alert(layui.util.escape(JSON.stringify(getData)));
              break;
          };
        });

        table.on('colTool(test)', function(obj){
          var event = obj.event;
          console.log(obj);
          if(event === 'username-tips' || event === 'contact-tips'){
            layer.alert(layui.util.escape(JSON.stringify(obj.col)), {
              title: '当前列属性配置项'
            });
          }
        });

        table.on('tool(test)', function(obj){
          var data = obj.data;
          if(obj.event === 'edit'){
            layer.open({
              title: '编辑 - id:'+ data.id,
              type: 1,
              area: ['80%','80%'],
              content: '<div style="padding: 16px;">自定义表单元素</div>'
            });
          } else if(obj.event === 'more'){
            dropdown.render({
              elem: this,
              show: true,
              data: [{
                title: '查看',
                id: 'detail'
              },{
                title: '删除',
                id: 'del'
              }],
              click: function(menudata){
                if(menudata.id === 'detail'){
                  layer.msg('查看操作，当前行 ID:'+ data.id);
                } else if(menudata.id === 'del'){
                  layer.confirm('真的删除行 [id: '+ data.id +'] 么', function(index){
                    obj.del();
                    layer.close(index);
                  });
                }
              },
              id: 'dropdown-table-tool',
              align: 'right',
              style: 'box-shadow: 1px 1px 10px rgb(0 0 0 / 12%);'
            });
          }
        });

        var tableInst = table.getOptions('test');
        tableInst.elem.next().find('.layui-table-main').on('scroll', function() {
          dropdown.close('dropdown-table-tool');
        });

        table.on('checkbox(test)', function(obj){
          console.log(obj)
        });

        table.on('radio(test)', function(obj){
          console.log(obj)
        });

        table.on('row(test)', function(obj){
        });

        table.on('rowDouble(test)', function(obj){
          console.log(obj);
        });

        table.on('edit(test)', function(obj){
          var field = obj.field;
          var value = obj.value;
          var data = obj.data;
          layer.msg('编辑成功', {icon: 1});

          var update = {};
          update[field] = value;
          obj.update(update);
          });
          }
        });
      });
    </script>
  </div>
  <div class="layui-footer">
    Designed by Taoyzh
  </div>
</div>

<script src="../static/layui.js"></script>
<script>
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element;
  var layer = layui.layer;
  var util = layui.util;
  var $ = layui.$;

  util.event('lay-header-event', {
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    },
    menuRight: function(){
      layer.open({
        type: 1,
        title: '更多',
        content: '<div style="padding: 15px;">未完待续......</div>',
        area: ['260px', '100%'],
        offset: 'rt',
        anim: 'slideLeft',
        shadeClose: true,
        scrollbar: false
      });
    }
  });
});
</script>
</body>
</html>